.card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
// large

.large-card-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  padding: 5px;
  .card-wrapper {
    height: 100%;
    width: 100%;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    .thumbnail {
      width: 30%;
      height: 100%;
      border-radius: 10px;
      background-color: rgb(255, 207, 87);
    }
    .category {
      width: 100%;
      height: 13%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: solid 1px white;
      font-size: small;
    }
    .title {
      height: 40%;
      width: 100%;
      overflow: hidden;
      padding: 2px;
      // border: solid 1px rgb(153, 32, 32);
    }
    .date-container {
      height: 12%;
      width: 100%;
      // border: solid 1px white;
    }
    .progress-container {
      height: 30%;
      width: 100%;
      // border: solid 1px white;
      .progressBar {
        width: 75%;
        height: 100%;
        background-color: aqua;
      }
      .enter-button {
        width: 25%;
        height: 100%;
        background-color: aquamarine;
      }
    }
  }
}
// mini
.mini-card-container {
  width: 100%;
  height: 100%;
  padding: 5px;
  // background-color: red;
  .card-wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    .thumbnail {
      width: 100%;
      height: 35%;
      border-radius: 5px;
      background-color: aquamarine;
    }
    .category {
    }
    .title {
      width: 100%;
      height: 21%;
      font-size: medium;
      font-weight: 600;
      // border: solid 1px red;
      overflow: hidden;
    }
    .date-container {
    }
    .progress-container {
    }
  }
}

// status

.statusCard-container {
  width: 100%;
  height: 100%;
  // background-color: red;
  border-radius: 10px;
  border:solid 3px rgb(124, 204, 124);
  overflow: hidden;
  .statusCard-wrapper {
    background-color: #ff77006c;
    width: 100%;
    height: 100%;
    .top {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      .icon {
        width: 30%;
        height: 100%;
        border-radius: 10px;
        background-color: white;
      }

      .content {
        width: 70%;
        height: 100%;
        padding-left: 10px;
        
        .count {
          width: 100%;
          height: 50%;
          font-size: 1.2rem;
          font-weight: 700;
        }
        .title {
          width: 100%;
          height: 50%;
          font-size: 0.7rem;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.39);
        }
      }
    }
    .seperator{
      width: 85%;
      height: 1px;
      margin-inline: auto;
    }

    .bottom {
      width: 100%;
      height: 30%;
      // background-color: #e5e5f7;
      // opacity: 0.4;
      // background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#444cf7 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #444cf7 1.4000000000000001px, #e5e5f7 1.4000000000000001px) -0.7000000000000001px 0;
      // background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
      // filter: blur(1px);
      .seeMore {
        width: 70%;
        height: 100%;
        padding-left: 15px;
      }
      .icon {
        width: 30%;
        height: 100%;
        // background-color: red;
      }
    }
  }
}
